jobs:
  configure-role-arn:
    executor: aws-cli/default
    steps:
      - aws-cli/setup:
          profile-name: default
      # - aws-cli/role-arn-setup:
      #     profile-name: dev-profile
      #     role-arn: 'arn:aws:iam::841909260160:role/developer'
      #     source-profile: default
      # - run: >-
      #     aws sts assume-role --role-arn "arn:aws:iam::841909260160:role/developer" --role-session-name AWSCLI-Session 
  package:
    executor: serverless/default
    steps:
      - checkout     
      - serverless/setup:
          app-name: serverless-framework-orb
          org-name: circleci          
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            HUSKY_SKIP_INSTALL=1 npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-   

      # run tests!
      - run: 
          name: Run linting
          command: npm run lint:check -- -f checkstyle -o checkstyle-result.xml
          # hudson.plugins.checkstyle.CheckStylePublisher
      - run:
          name: Run tests
          command: JEST_JUNIT_OUTPUT=./jest-test-results.xml CI=true npm test -- --ci --reporters=default --reporters=jest-junit --coverage
          # hudson.plugins.checkstyle.CheckStylePublisher                  
      - run:
          command: serverless package -v -s ${CIRCLE_BRANCH,,} --env dev
          name: Package
orbs:
  aws-cli: circleci/aws-cli@2.1.0
  serverless: circleci/serverless-framework@1.0.1
version: 2.1
workflows:
  package:
    jobs:
      - configure-role-arn:
          context:
            - org-global      
      - package:
          requires:
            - configure-role-arn
          context:
            - org-global            