jobs:
  package:
    executor: serverless/default
    steps:
      - checkout     
      - aws-cli/setup
      - serverless/setup:
          app-name: serverless-framework-orb
          org-name: circleci          
      - run:
          name: "Setup custom environment variables"
          command: |
            STAGE_NAME=${CIRCLE_BRANCH,,} 
            echo $STAGE_NAME
            echo 'export STAGE_NAME=$STAGE_NAME' >> $BASH_ENV
      - run:
          name: Install dependencies
          command: |
            HUSKY_SKIP_INSTALL=1 npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-
      # run tests!
      - run: 
          name: Run linting
          command: npm run lint:check -- -f checkstyle -o checkstyle-result.xml
          # hudson.plugins.checkstyle.CheckStylePublisher
      - run:
          name: Run tests
          command: JEST_JUNIT_OUTPUT=./jest-test-results.xml CI=true npm test -- --ci --reporters=default --reporters=jest-junit --coverage
          # hudson.plugins.checkstyle.CheckStylePublisher                  
      - run:
          # todo: this should not use npx, perhaps orb is broken?
          name: Package
          command: |
            echo $STAGE_NAME
            
          # npx serverless package -v -s $STAGE_NAME --env dev            
  dev_deploy: 
    executor: serverless/default
    steps:
      - checkout     
      - aws-cli/setup
      - serverless/setup:
          app-name: serverless-framework-orb
          org-name: circleci          
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            npm i    
      - run:
          # todo: this should not use npx, perhaps orb is broken?
          command: npx serverless deploy -v -s main --env dev --force
          name: Deploy to development
  prod_deploy: 
    executor: serverless/default
    steps:
      - checkout     
      - aws-cli/setup
      - serverless/setup:
          app-name: serverless-framework-orb
          org-name: circleci          
      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            npm i      
      - run:
          command: echo 'Deploying to production...'
          name: Deploy to production
orbs:
  aws-cli: circleci/aws-cli@2.1.0
  serverless: circleci/serverless-framework@1.0.1
version: 2.1
workflows:       
  package:
    jobs:
      - package:
          context:
            - org-global 
      - dev_deploy:
          requires:
            - package        
          context:
            - org-global             
          filters:
            branches:
              only: main
      - prod_deploy:
          type: approval
          requires:
            - dev_deploy            
          filters:
            branches:
              only: main
